/*Comandos css para estudos*/
/* Para linkarmos um arquivo em css com html*/
/*<link rel="stylesheet" type="text/css" href="nomedoarquivo.css"*/
.negrito{
    font-weight: bold;
}
.tamanho{
    font-size: 14pt;
}
.fonte{
    font-family: Arial, Helvetica, sans-serif;
}
.estilo{
    font-style: italic;
}
.espaçamentoletras{
    letter-spacing: 0.5em;
}
.espaçamentopalavras{
    word-spacing: 0.5em;
}
.alinhamentotexto:{
    text-align: justify;
}
.cor{
    color: purple;
}
.linhasuperior{
    text-decoration: underline;
}
.linhainferior{
    text-decoration: overline;
}
.linhacentro{
    text-decoration:line-through;
}
.piscar{
    text-decoration: blink;
}
.identação{
    text-indent: 30pt;
}
.sombra{
    text-shadow: red 5px 2px 4px;
}
.capitalizado{
    text-transform: capitalize;
}
a:link{/*Link */
    color: gray;
}
a:visited{/*Link ja visitado*/
    color: purple;
}
a:hover{/*mouse em cima*/
    color: greenyellow;
}
a:active{/*momento em que aperta o link*/
    color: red;
}
.listaimagem{
    list-style-image: url(academia.png);
}
.listaimagemposição{
    list-style-position: inside;
}
.marcadoresnalista{
    list-style-type: square;
}
